<div class="container">

<%= form_for @participant do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :arrival_time %><br>
    <%= f.text_area :arrival_time %>
  </p>

  <div class="field">
    <%= f.label :arrival_day_id %><br />
    <%= f.select :arrival_day_id, options_for_select(Day.all.map{|s|[s.day, s.id]}) %>
  </div>

  <div class="field">
    <%= f.label :arrival_city_id %><br />
    <%= f.select :arrival_city_id, options_for_select(City.all.map{|s|[s.name, s.id]}) %>
  </div>

  <p>
    <%= f.label :arrival_mode %><br>
    <%= f.text_area :arrival_mode %>
  </p>

  <p>
    <%= f.label :departure_time %><br>
    <%= f.text_area :departure_time %>
  </p>

  <div class="field">
    <%= f.label :departure_day_id %><br />
    <%= f.select :departure_day_id, options_for_select(Day.all.map{|s|[s.day, s.id]}) %>
  </div>

  <div class="field">
    <%= f.label :departure_city_id %><br />
    <%= f.select :departure_city_id, options_for_select(City.all.map{|s|[s.name, s.id]}) %>
  </div>

  <p>
    <%= f.label :departure_mode %><br>
    <%= f.text_area :departure_mode %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

</div>