<div class="container">
  <div>
    <%= @participant.name %>
  </div>
  <div>
    Arrival: <%= @participant.arrival_day.day %> @ <%= @participant.arrival_time %>
  </div>
  <div>
    <%= @participant.arrival_city.name %>
  </div>
  <div>
    <%= @participant.arrival_mode %>
  </div>
  <div>
    Departure: <%= @participant.departure_day.day %> @ <%= @participant.departure_time %>
  </div>
  <div>
    <%= @participant.departure_city.name %>
  </div>
  <div>
    <%= @participant.departure_mode %>
  </div>

  <div>
    <%= link_to "Edit", edit_participant_path %>
  </div>

  <div>
    <%= link_to "Remove", participant_path, method: :delete %>
  </div>

  <div>
    <%= link_to "Home", root_path %>
  </div>

</div>